/**
 * @file
 * Element multiple styles.
 */
.form-type-element-multiple:after {
  display: table;
  clear: both;
  content: ' ';
}
.element-multiple-table table {
  margin-bottom: 2px;
}
.element-multiple-table td {
  vertical-align: top;
  white-space: nowrap;
}
.element-multiple-table td .description,
.element-multiple-table td .messages,
.element-multiple-table td .form-item--error-message {
  white-space: normal;
}
.element-multiple-table td.element-multiple-table--handle {
  width: 26px;
  padding: 0 0 0 1em;
  text-align: center;
  vertical-align: middle;
}
.element-multiple-table td.element-multiple-table--weight {
  width: 20px;
}
.element-multiple-table td.element-multiple-table--operations {
  width: 30px;
  padding: 0 2px;
  text-align: center;
  vertical-align: middle;
}
.element-multiple-table .element-multiple-table--operations-two {
  width: 60px;
}
.element-multiple-table td.element-multiple-table--operations input {
  margin: 0 2px;
  opacity: 0.4;
  background: none;
}
.element-multiple-table td.element-multiple-table--operations input:hover,
.element-multiple-table td.element-multiple-table--operations input:focus,
.element-multiple-table td.element-multiple-table--operations input:active {
  opacity: 1;
  background: none;
}
.element-multiple-table td select,
.element-multiple-table td .form-type-textfield input,
.element-multiple-table td .form-type-email input,
.element-multiple-table td .form-type-url input,
.element-multiple-table td .form-type-tel input,
.element-multiple-table td .form-type-entity-autocomplete input,
.element-multiple-table td .form-type-element-autocomplete input {
  width: 100%;
}
.element-multiple-table td .container-inline select,
.form-type-element-multiple.element-has-field-prefix td select,
.form-type-element-multiple.element-has-field-suffix td select,
.form-type-element-multiple.element-has-field-prefix td input,
.form-type-element-multiple.element-has-field-suffix td input {
  width: auto;
}
.element-multiple-table td .form-type-datetime .form-type-textfield input {
  width: 12em;
}
.element-multiple-table .element-multiple-sort-weight {
  width: 4em;
}
.element-multiple-table td input[type="image"] {
  box-sizing: border-box;
  width: 20px;
  min-width: initial;
  max-width: initial;
  height: auto;
  margin: 0;
  padding: 2px;
  border: 2px solid #333;
  border-radius: 50%;
}
.element-multiple-table td input[type="image"] + input[type="image"] {
  margin-left: 2px;
}
.element-multiple-table .container-inline input[type="submit"] {
  width: inherit;
}
/**
 * Add margin between stacked form items.
 */
.element-multiple-table .form-item + .form-item {
  margin-top: 0.2em;
}
/**
 * Fix margin be checkboxes and radios.
 */
.element-multiple-table .form-checkboxes .form-item,
.element-multiple-table .form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
/**
 * Remove margin from no messages.
 */
.element-multiple-table--no-items-message .messages__wrapper {
  padding: 0;
}
/**
 * Suppress table drag warnings.
 */
.element-multiple-table .tabledrag-changed-warning,
.element-multiple-table .tabledrag-changed {
  /* Must use !important because .tabledrag-changed 'display' is set via
   JavaScript */
  display: none !important;
}
/**
 * Tweak tabledrag toggle weight.
 */
.tabledrag-toggle-weight-wrapper.element-multiple-tabledrag-toggle-weight {
  position: inherit;
  display: inherit;
  float: right;
}
.tabledrag-toggle-weight-wrapper.element-multiple-tabledrag-toggle-weight button {
  position: inherit;
  top: inherit;
  right: inherit;
}
/**
 * IMCE tweaks.
 */
.element-multiple-table .imce-url-button {
  display: block;
}
/**
 * Mobile support to multiple table.
 */
@media (max-width: 768px) {
  .element-multiple-table-responsive thead {
    display: none;
  }
  .element-multiple-table-responsive tr {
    display: block;
    padding: 0.5em 0;
  }
  .element-multiple-table-responsive td {
    display: block;
    width: inherit;
    padding: 0.5em 1em;
    text-align: inherit;
    border: 0;
    background: transparent;
  }
  .element-multiple-table-responsive td:after {
    display: table;
    clear: both;
    content: '';
  }
  .element-multiple-table-responsive td.element-multiple-table--handle,
  .element-multiple-table-responsive td.element-multiple-table--operations {
    display: none;
  }
  .element-multiple-table-responsive td.element-multiple-table--weight {
    width: 100%;
  }
  .element-multiple-table-responsive td > div > .visually-hidden {
    position: inherit !important;
    display: block;
    overflow: inherit;
    clip: inherit;
    width: inherit;
    height: inherit;
    margin: 0.2em 0;
  }
}

